

.comment_div_general{
    border: 2px solid $color3;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment_div_cont_name{
    margin: 5px 0 10px;
}

.comment_comment::first-letter{
    text-transform: uppercase;
}