

.model2-div-cont-modelo1 {
    background: none;
}

.model2-text {
    color: $color2;
}

.model2-text-description {
    color: $color3;
}

//styles de parte de practica
.model2-icono-play {
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    border-color: $color2;
    border-width: 2px;
    background-color: $color1
}

.model2-reproducir {
    color: $color3;
}

.model2-boton-practica-conromaji {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model2-boton-practica-auto {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model2-texto-practica {
    font-size: 100%;
    color: $color3;
}

.model2-boton-practica-automodel2-pressed {
    width: 100%;
    margin: 15px 0 15px;
    padding-top: 5px;
    background-color: $color5;
    font-size: 20px;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
    color: white;
}

.model2-boton-practica-automodel2-pressed:hover {
    cursor: pointer;
}

.model2-pressed {
    background-color: $color5;
    color: $color1;
}

.opttrue {
    background-color: $color5;
    color: $color1;
}

//style show answer
.model2-texto-show {
    border-color: $color3;
    color: $color2;
}

.model2-boton-next {
    border-color: $color3;
}

.model2-texto-practica-dinamic {
    color: $color2;
}

.model2-div-cont-progresbar {
    background-color: $color2;
}

.dm_pbi_false{
    background-color: $color5;
}

.model2-boton-practica-mute {
    border-style: solid;
    border-color: $color3;
    border-radius: 5px;
    border-width: 2px;
}

//-------------------- canvas
.model2-div-cont-canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 10px;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.canvasIndid{
    //background-color: $color1;
    border: 2px solid $color2;
    position: relative;
    z-index: 30;
    border-radius: 5px;
    //background-image: url('~@/assets/img/icons/quill-drawing-a-line.svg');
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.model2_marca_deagua{
    position: absolute;
    z-index: 20;
    top: 10px;
    width: 100%;
    height: 70%;
    background-image: url('~@/assets/img/icons/quill-drawing-a-line.svg');
    background-repeat: no-repeat;
    background-size: 45% ;
    background-position: center;
    opacity: 0.20;
}





.model2-boton-clear-canvas{
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    color: $color2;
    padding-top: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
}

.model2-boton-clear-canvas:hover{
    -webkit-box-shadow: 1px 2px 2px black;
            box-shadow: 1px 2px 2px black;
    cursor: pointer;
}

.model2-boton-clear-canvas:active{
    text-decoration: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: $color5;
}