

.nav{
    background-color:$color4;
}

.displayopt-boton{
    background-color:#9bf
}
//------------------lado 2------------

.router-link-active{
    
    border-bottom-style: ridge;
}

.link:hover{
    -webkit-box-shadow: 1px 2px 2px;
            box-shadow: 1px 2px 2px;
    cursor: pointer;
}

.link:active{
    -webkit-box-shadow: none;
            box-shadow: none;
}