


.model3-div-cont-modelo1 {
    background: none;
}

.model3-text {
    color: $color2;
}

.model3-text-description {
    color: $color3;
}

//styles de parte de practica
.model3-icono-play {
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    border-color: $color2;
    border-width: 2px;
    background-color: $color1
}

.model3-reproducir {
    color: $color3;
}

.model3-boton-practica-conromaji {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model3-boton-practica-auto {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
}

.model3-texto-practica {
    font-size: 100%;
    color: $color3;
}

.model3-pressed {
    background-color: $color5;
    color: $color1;
}

.model3-boton-practica-automodel3-pressed {
    width: 100%;
    margin: 15px 0 15px;
    padding-top: 5px;
    background-color: $color5;
    font-size: 20px;
    -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    transition: background-color 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: $color3;
    text-align: center;
    color: white;
}

.model3-boton-practica-automodel3-pressed {
    cursor: pointer;
}
.opttrue {
    background-color: $color5;
    color: $color1;
}

//style show answer
.model3-texto-show {
    border-color: $color3;
    color: $color2;
}

.model3-boton-next {
    border-color: $color3;
}

.model3-texto-practica-dinamic {
    color: $color2;
}

.model3-div-cont-progresbar {
    background-color: $color2;
}

.dm_pbi_false{
    background-color: $color5;
}

.model3-boton-practica-mute {
    border-style: solid;
    border-color: $color3;
    border-radius: 5px;
    border-width: 2px;
}

//-------------------- SELECTOR DE CARACTER

.model3-div-cont-selectorchar {
    width: 250px;
    height: 70px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.model3-div-cont-char {
    background-color: #23a19d;
    border: 2px solid $color2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 25%;
    height: 80%;
    -webkit-transition: border-width 0.2s, -webkit-box-shadow 0.2s;
    transition: border-width 0.2s, -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s, border-width 0.2s;
    transition: box-shadow 0.2s, border-width 0.2s, -webkit-box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s, border-width 0.2s;
    -moz-transition: box-shadow 0.2s, border-width 0.2s;
    -ms-transition: box-shadow 0.2s, border-width 0.2s;
    -o-transition: box-shadow 0.2s, border-width 0.2s;
}

.model3-div-cont-char:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 2px;
            box-shadow: 1px 2px 2px;
    ;
}


.prueba-shit{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.prueba-noshit{
    background-color: $color9;
}

.char-select-true {
    //background-color: #23a19d;
    border: 4px solid $color4;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.char-select-right {
    background-color:$color9;
}
.char-select-wrong {
    background-color: $color4;
}

.char-right-true {
    border-color: $color3;
    background-color: $color9;
}

.char-right-wrong {
    border-color: $color3;
    background-color: $color4;
}